{% extends "myadmin/base.html" %} {# 引用#}
{% load static %}
{% block css %}{% static 'myadmin/css/home.css' %}{% endblock css %}
{% block title %} 后台首页|CLuo工作室{%  endblock title %}
{% block home_active %}active{% endblock home_active %} {# 高亮#}

{% block content %}
      


      {% if errno%}
        {% if errno == '添加成功' %}
          <div class="alert alert-primary alert-dismissible" role="alert">
        {% else%}
          <div class="alert alert-warning alert-dismissible" role="alert">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><center>{{ errno }}</center></strong> 
      </div>
      {% endif%}
     11111111111111111111111111111111111111
     22222222222222222222222222
     333333333
{% endblock content %}

