{% extends "myadmin/base.html" %} {# 引用#}
{% load static %}
{% block css %}{% static 'myadmin/css/home.css' %}{% endblock css %}
{% block title %} savecloud from text|CLuo工作室{%  endblock title %}
{% block home_active %}active{% endblock home_active %} {# 高亮#}


{% block content %}
<script type='text/javascript' src='{% static "myadmin/js/jquery-3.3.1.min.js" %}'></script>
<script type='text/javascript'>
  $(function(){
    // 初始化

    var account = $('#account');
    var cloud_text = $('#cloud_text');
    var btn = $('#psbtn');
    {% if {{ info }}%}
      account.val('我')
      cloud_text.val('你')
    {% endif %}
    // 防跨站設置
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },  
    });
    // 點擊提交ajax
    btn.click(function(){
      var account = $('#account').val();
      var cloud_text = $('#cloud_text').val();
      $.ajax({
        url:"{% url 'myadmin:savecloud_from_text' %}", //提交到那里
        type:"POST", //提交类型
        data:{"account":account, "cloud_text":cloud_text}, //提交的数据
        datType: "text",
        success:function(data1){
          $('#cloud_text').val(data1.info.cloud_text);
          $('#account').val(data1.info.account);
          
        },
        
      });
    });
  });
  
  


  // $(function(){

  //     var btn = $('#psbtn')
  //     btn.click(function(){
  //       alert('点击已启动');
  //       var account = $('#account').val();
  //       var cloud_text = $('#cloud_text').val();
  //       $.post('{% url 'myadmin:savecloud_from_text' %}', {"sda":432});
  //     });
  // });


// $(document).ready(function(){
//  $("#psbtn").click(function(){
//   var account=$("#account").val();
//   var cloud_text=$("#cloud_text").val();                //获取输入框中的ip
//   $.ajax({
//         url:"{% url "myadmin:savecloud_from_text" %}", //提交到那里
//         type:"POST", //提交类型
//         data:{"11111":2222,"3333":4444} //提交的数据
//         success:function(data1){ //success不会直接运行，当服务器有数据传输过来才会触发执行。
// 　　　　　　　　　　　　　　　　　　　　//匿名函数必须要有一个参数，用来接受数据，data1用来接受是服务器端返回字符串数据
//         alter(data1);
//     }
//     })
// });       
// });
</script>


<form method='POST', id="savecloud_from_text">
{% csrf_token %}

    <div class="form-group">
      <label >保存网盘：</label>
      <input type="text" class="form-control" id="account" placeholder="网盘账号（格式：账号----密码----邮箱账号----密码）">
    </div>
    <div class="form-group">
    <textarea  class="form-control" id="cloud_text" rows="3"placeholder="解析的内容"></textarea></div>
    <div>
    <button id="psbtn" type="button" class="btn btn-dark">运行</button>
    </div>

</form>
{% endblock content %}
